body{
  background-color: #f5f5f5;
}

.wrapper {
    padding: 100px;
  }
  
  .image--cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin: 20px; */
  
    object-fit: cover;
    object-position: center right;
  }

  .widthset{
    width: 100px;
    justify-content: space-between;
    display: flex!important;
    align-items: center;
  }

  .colorset{
    font-size: 9px;
    height: 34px;
    font-weight: 700;  
    color: white; 
  }

  .borderreight{

    height: 20px;
    font-size: 13px;
    font-weight: 700;
    border-right: 2px solid rgba(0,0,0,.55);
  }
  .borderreight a{
    color: #0d2671 !important;
  }

  .bgcolorset{
    background-color: #e2e2e2;
  }

  .pagination.pagination-circle .page-item.active .page-link {
    border-radius: 50%;
}
.pagination .page-item .page-link:hover {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: .125rem;
    background-color: #cdddea;
}
.pagination.pg-blue .page-item.active .page-link:hover {
    background-color: #0d2671;
}
.pagination .page-item.active .page-link {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border-radius: .125rem;
    background-color: #001b6a;
    color: #fff;
}
.pagination .page-item .page-link {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    outline: 0;
    border: 0;
    background-color: #cdddea;
    font-size: .8rem;
    color: rgb(20, 20, 86);
    font-weight:bold;
}
.pagination.pagination-circle .page-item .page-link:hover {
    border-radius: 50%;
}
.pagination.pagination-circle .page-item .page-link {
    margin-left: 7px;
    margin-right: 7px;
    border-radius: 50%;
}
.pagination .page-item.active .page-link{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.page-link{
  border:none!important;
}   

.cloesetinf{
    color: #0081eb;
}

.image--coverrobo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* margin: 20px; */
    object-fit: cover;
    object-position: center right;
}

.classborder{
    border-left: 2px solid #d3d3d3
}
.borderset{
    border-right: 2px solid #d3d3d3
}


.paddingforcarfd{
  position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.borderbotset{
    padding: 20px;
}



.nav-tabs {
    border-bottom: 2px solid #DDD;
  }
  
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    border-width: 0;
  }
  
  .nav-tabs>li>a {
    border: none;
    color: black;
    line-height: 2.5;
    text-decoration: none;
  }
  
  .nav-tabs>li.active>a,
  .nav-tabs>li>a:hover {
    border: none;
    color: #666 !important;
    background: transparent;
  }
  
  .nav-tabs>li>a::after {
    content: "";
    background: #666;
    height: 3px;
    position: absolute;
    width: 20%;
    top: 44px;
    left: 15px;
    bottom: 0px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
  
  .nav-tabs>li.active>a::after,
  .nav-tabs>li:hover>a::after {
    transform: scale(1);
  }
  
  .tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
  }
  
  .tab-pane {
    padding: 15px 0;
  }
  
  .tab-content {
    padding: 10px 30px 30px 30px;
  }
  
  .paddingseting{
    padding: 5px 20px 0px 20px;
  }
 
  
 .paddingsetcard{
    padding: 12px;
 }
 .bordertopset{
    border-top: 2px solid #d3d3d3
 }
 .btnset{
  font-weight: 600;
  font-size: 13px;
    padding: 15px;
    text-align: center;
    background: #d9d9d9;
    margin: 20px;
    color: #77808c;
 }

 .bordercenter{  
  border-left: 2px solid #d3d3d3;
  padding-left: 0;
  padding-right: 0;
 }
 .paddingseting li {
    margin-right: 25px;
 }

 .buttonunderline{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #bb2d3b;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: underline;
 }

 .borderbtmset{
        border-bottom: 1px solid #d3d3d3;
 }

 .classwidth {
  width: 72px;
  font-size: 12px;
  background-color: #e2e2e2;
}

 .clscolor{
  font-size: 14px;
  font-weight: 700;
 }

 .newfontset{
  font-size: 12px;
  font-weight: 500;
  color: gray;
 }
 
 .borderreightseting{
  position: sticky;
  top: 0;
  padding-right: 12px;
 }
 .paddingfitset{
  padding-right: 50px;
  padding-left: 20px;
 }

 .newgraycolor{
  background-color: #e6eef5;
  color: #8d9aa7;
 }

 .Backgroundcolorforcard{
  background-color: #f5f5f5;
 }

 .fontsizedata{
  font-size: 15px;
    font-weight: 500;
    color: #0d2671;
 }

 .fistbtn{
  font-size: 10px;
    padding: 4px;
    width: 80px;
    text-align: center;
 }
 
 .font-style{
  font-size: 13px;
  font-weight: 600;
 }

 .widthseting{
  width: 140px;
  padding: 5px;
 }

 .classborderblue{
  border:2px solid #a9d2f3;
 }

 .borderradiusremove{
  border-radius: 0 !important;
 }

 .color-orange{
  color: #ea6312;
 }
 .noactives{
  color: #8f9cac;
 }
 .titleclassfont{
  font-weight: 500;
  color: #8f9cac;
 }
 
 .btntrantpar{
  border: none;
  background: transparent;
 }

 .buttonchange{
  font-size: 12px;
  letter-spacing: 1px;
 }

 .powerbtn{
  font-size: 12px;
  letter-spacing: 1px;
 }

 .graycolors{
  font-size: 13px;
    font-weight: 500;
    color: #8f9cac;
 }

 .coloeicons{
  color: #a4c2d8;
 }

 .classdecition{
  font-weight: 700;
  color:#16629e;
 }

 .form-control{
  background-color: #f5f5f5 !important;
 }

 .form-label{
  
  font-weight: 500;
 }

 .form-select{
  background-color: #f5f5f5 !important;
 }

 .activedivsset{
  padding: 8px 16px;
  background: #d2eafd;
  border-radius: 5px;
 }

 .activedivs{
  padding: 8px 16px;
 }

 .savedatasinsamp .coloricons{
color: #48c264;
 }

 .colordata{
  filter: grayscale(0.9);
 }
 
 .backcolors{
  background-color: #e2e2e2;
}

/* .btn-color{
   background-color: #697c91;
   border-color: #697c91;
 } */

 .savedatasinsamp .colordata{
  filter: grayscale(0) !important;
 }
 
 .savedatasinsamp .backcolors{
  background-color: #d2eafd !important;
}

.savedatasinsamp .btn-color{
   background-color: #1996f8;
   border-color: #1996f8;
   color: white;
 }

.savedatasinsamp .btn-color.underlinecolorremove{
   background-color: unset !important;
   border-color:  transparent !important;
   color: white;
 }

 .buttonchange.underlinecolorremove{
   background-color: unset !important;
   border-color:  transparent !important;
   color: white;
 }

 .buttonchange.btn-outline-danger {
  color: #697c91;
  border-color: #697c91;
}

 .savedatasinsamp .btn-outline-danger {
  color: #1996f8 !important;
  border-color: #1996f8 !important;
  color: #1996f8 !important;
}

 .buttonchange.buttonunderline  {
  color: #697c91;
  border-color: transparent;
}

 .savedatasinsamp .buttonunderline  {
  color: #1996f8 !important;
  border-color: transparent !important;
}

.buttonchange.btn-danger {
  color: #fff;
  background-color: #697c91;
  border-color: #697c91;
}
.savedatasinsamp .btn-danger {
  color: #fff !important;
  background-color: #1996f8 !important;
  border-color: #1996f8 !important;
}

.arrow-right::after {
  margin-left: 5px;
  position: absolute;
  content: '';
  transform: translateY(50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #ec6415;
}

.buttonchange.arrow-right::after {
  margin-left: 5px;
  position: absolute;
  content: '';
  transform: translateY(50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #697c91;
}
.savedatasinsamp .arrow-right::after {
  margin-left: 5px;
  position: absolute;
  content: '';
  transform: translateY(50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #1996f8 !important;
}

.btn-danger{
  background-color: #ec6415;
}

.pagination {
  position: relative;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li:not(:last-child)::after {
  content: "";
  position: relative;
  right: -42px;
  top: -14px;
  width: 20px;
  height: 2px;
  background-color: #a7b0ba;
  border-radius: 2px;
  transform: translateY(0%);
  display: block;
  background: repeating-linear-gradient(90deg, #a7b0ba, #a7b0ba 5px, transparent 5px, transparent 10px);
}



.classborderblue .row{
  position: relative;
}
.classborderblue .row:not(:last-child) .border-line::after {
  content: "";
  position: absolute;
  left: 28px;
    top: 75%;
  width: 2px;
  height: 60px;
  background: repeating-linear-gradient(193deg, #a7b0ba, #a7b0ba 5px, transparent 5px, transparent 10px);
  transform: translateX(-50%);
}


input[type="color" i] {
  appearance: auto;
  inline-size: 50px;
  block-size: 27px;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  color: buttontext;
  border-width: 1px;
  border-style: solid;
  border-color: buttonborder;
  border-image: initial;
  padding: 1px 2px;
}

input[type="color" i][list] {
  appearance: auto;
  inline-size: 94px;
  block-size: 27px;
}